body{
    font-family:"DM Sans";
    min-height:100%;
    margin:0;
    position: relative;
  min-height: 100%;
}

html{
    height: 100%;
    box-sizing: border-box;
    min-height:100%;}

h1{
    font-size:4em;
}

h5{
    font-size: 1.2em;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color:white;
    background-color: rgb(95, 95, 95);
    text-align: center;
}

.title{
    color:rgb(125, 175, 184);
    display:flex;
    width:100%;
}

/*visualisation purposes
#w80{
    background-color:green;
}

#w20{
    background-color:grey;
}
*/
.bp{
    color:rgb(149, 165, 175);
}

.navigation{
    color:rgb(49, 49, 49);
    font-size:1.5em;
    margin-left:5%;
    margin-right:0%;
    
}

.navigation span{
    cursor:pointer;
    position: relative;
    text-decoration: none;
    margin-right:1em;
    
}

.navigation span:hover{
    
    
    display:inline-block;
}

.content{
    font-size:1.4em;
    padding-left:5%;
    padding-right:5%;
    
}

.navwrapper{
    width:100%;
    display:block;
    height:100%;
    
}
.navwrapper span{
    display:inline-block;
}
.navwrapper span{
    color:rgb(49, 49, 49);
    transition-duration:0.75s;
    transition-property: color;
    width:100%;
}

.main{
    padding-top:2vh;
    padding-bottom:2vh;
}

.top{font-family:Merriweather;
    padding-top:3vh;
    padding-bottom:3vh;
    color:rgb(145, 145, 145);}
.middle{
        color:#fff;}

.navwrapper span:hover{
    color:rgb(149, 165, 175);
    transition-duration:0.75s;
}

@media only screen and (max-width: 400px){
    body{
        text-align:center;
    }
    .navigation{
        margin-left:0%;
        margin-right:0%;
    }
    
    .navigation{text-align:center;}
    
    .title{display:block;width:100%;}
    #w80{width:100%;}
    #w20{width:100%;}

    .main{padding-left:15%;padding-right:15%;}
}

@media only screen and (min-width: 401px) and (max-width:960px){
    body{
        text-align:center;
    }
    .navigation{
        margin-left:0%;
        margin-right:0%;
    }
    
    .navigation{text-align:center;}
    
    .title{display:block;width:100%;}
    #w80{width:100%;}
    #w20{width:100%;}
    
    html{margin-left:15%;margin-right:15%;}
}

@media only screen and (min-width: 961px){
    body{
        text-align:left; 
    }

    #name{
        line-height:1px;
    }

    .navigation{text-align:right;
                
            height:100%;
            padding-left:5%;}

    /*.content{
        width:60%;
    }*/
    
    .title{display:flex;width:100%;}
    #w80{width:60%;padding-left:5%;}
    #w20{width:40%;}

    .main{padding-left:15%;padding-right:15%;}
}